{% extends "base_generic.html" %}

{% block content %}
  <h1 class="page-title">Local Library Home</h1>
  <p class="lead text-muted">Welcome to LocalLibrary!</p>
  <p class="mt-4">The library has the following record counts:</p>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
  </ul>
  <p class="mt-4 text-muted">You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.</p>
{% endblock %}
