{% extends "base_generic.html" %}

{% block title %}<title>Delete author — Local Library</title>{% endblock %}

{% block content %}
  <h1 class="page-title">Delete author</h1>
  <p>Are you sure you want to delete the author <strong>{{ author }}</strong>?</p>

  <form action="" method="post" class="d-inline">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Yes, delete</button>
    <a href="{% url 'author-detail' author.pk %}" class="btn btn-link">Cancel</a>
  </form>
{% endblock %}
